/*SCROLLBAR WEBKIT*/

*::-webkit-scrollbar {
    width: 12px;
  }
  
  
  *::-webkit-scrollbar-thumb {
    background-color: #e53939;
    border-radius: 20px;
    border: 3px solid #000000;
  }


* {
    padding: 0;
    margin: 0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    background-color: #000000;
    color: #FFFFFF;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    margin: 50px 0 50px 0;
}

/*refences class*/

.container {
    display: flex;
    flex-direction: column;
}

.nav {
    position: fixed;    
    z-index: 1;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.welcome-message {
    padding: 0;
    margin: 0;
}

.navlinks {
    display: flex;
    align-items: center;
}

.navlink {
    color: darkgrey;
    text-decoration: none;
    margin: 0 20px 0 20px;
}

.contact {
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #e53939;
    padding: 10px ; 
    width: 100px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.profile {
    width: 200px;
    height: 200px;
    border: 10px solid #e53939;
    border-radius: 100%;
    margin-right: 30px;
}

.presentation-section {
    display: inherit;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 3rem 7rem 3rem;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-section {
    display: flex;
    width: 65%;
    margin-bottom: 20rem;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
}

.personal-states {
    display: flex;
    font-size: 18px;
}

.motivation {
    display: flex;
    font-size: 18px;
}

.navbar-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0 100px 0;
}

.technology {
    display: flex;
    font-size: 18px;
    width: 30%;
}

.presentation-2 {
    width: 30%;
    font-size: 18px;
    height: auto;
}

.icon {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 20px;
}

.footer-content {
    width: inherit;
}

.footer-text {
    text-align: center;
    padding: 2rem 0 2rem 0;
    color: darkgrey;
}

.social-media {
    display: flex;
    width: auto;
    justify-content: space-around;
}

/*Lines*/

.vertical-line {
    height: auto;
    border-left: #e53939 solid 10px;
    margin: 0 15px 0 15px;
}

.bottom-line {
    width: 100vw;
    border-bottom: #e53939 solid 3px;
}

.top-line {
    width: 100%;
    border-top: rgba(122, 118, 117, 0.6) solid 3px;
}

/*HOVER CSS*/

.navlink:hover {
    color: whitesmoke;
}

.icon:hover {
    background-color: darkgrey;
    transition: 0.5s;
} 

  /*RESPONSIVE STYLE*/

  @media (min-width: 320px) and (max-width: 375px) {

    .welcome-message {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .navbar {
        width: auto;
        display: flex;
        padding: 10px 0 10px 0;
    }

    .navlink {
        margin: 0 5px 0 0;
        font-size: 10px;
    }
 
    .contact {
        padding: 4px;
        margin: 10px 0 10px 0;
    }

    .bottom-line {
        width: 100%;
    }

    .presentation-section {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 7rem 0 7rem;
        align-items: center;
    }

    .presentation {
        width: 300px;
        font-size: 16px;
        margin: 5px;
    }

    .profile {
        margin: 20px;
    }

    .about-section {
        width: 300px;
    }

    .about {
        font-size: 16px;
    }

    .personal-states {
        font-size: 16px;
    }

    .motivation {
        font-size: 16px;
    }

    .presentation-2 {
        font-size: 16px;
        width: 150px;
    }

    .technology {
        width: 150px;
    }

    .icon {
        margin: 5px;
    }
  }

  @media (max-width: 425px) {

    .welcome-message {
        font-size: 12px;
    }

    .nav {
        width: 100%;
    }

    .navbar {
        width: auto;
        display: flex;
        padding: 10px 0 10px 0;
    }

    .navlink {
        margin: 0 5px 0 0;
        font-size: 10px;
    }
 
    .contact {
        padding: 4px;
        margin: 10px 0 10px 0;
    }

    .bottom-line {
        width: 100%;
    }

    .presentation-section {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 7rem 0 7rem;
        align-items: center;
    }

    .presentation {
        width: 300px;
        font-size: 16px;
        margin: 5px;
    }

    .profile {
        margin: 20px;
    }

    .about-section {
        width: 300px;
    }

    .about {
        font-size: 16px;
    }

    .personal-states {
        font-size: 16px;
    }

    .motivation {
        font-size: 16px;
    }

    .presentation-2 {
        font-size: 16px;
        width: 150px;
    }

    .technology {
        width: 150px;
    }

    .icon {
        margin: 5px;
    }
  }